.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  display: block;
  padding: 8px 20px;
  border: none;
  border-left: 4px solid #222;
  border-right: 4px solid #222;
  margin: 24px 0;
  font-size: 20px;
  color: #f64d4d;
  background-color: #fff;
  cursor: pointer;
  transition: all 400ms ease;
  padding: 8px 36px;
  border-left: 8px solid #222;
  border-right: 8px solid #222;
  letter-spacing: 3px;
}

.image{
  width: 100px;
  height: 100px;
}

a{
  text-decoration: none;

}